<h1>Create a new jewellery item</h1>

<%= render "form", jewellery_item: @jewellery_item %>

<% if @jewellery_item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@jewellery_item.errors.count, "error") %> prevented this item from being saved:</h2>
    <ul>
      <% @jewellery_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
