<h1>Jewellery item: <%= @jewellery_item.name %></h1>

  <%= link_to "Delete",
    jewellery_item_path(@jewellery_item),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>

  <%= link_to "Back to all jewellery items", jewellery_items_path %>
